# FILE: sample.config           -*-Mode: tcl-*-
#
# mmDisp configuration.  This file must be valid Tcl code.

# This file should only be sourced from within another Tcl application.
# Check to make sure we aren't at the top application level
if {[string match [info script] $argv0]} {
    error "'[info script]' must be evaluated by an mmdisp-style application"
}

# Plot configuration array
array set plot_config {
   arrow,autosample          1
   arrow,colorcount          256
   arrow,colormap            Red-Black-Blue
   arrow,colorphase          0
   arrow,colorreverse        0
   arrow,quantity            z
   arrow,size                1
   arrow,status              1
   arrow,subsample           3
   arrow,viewscale           1
   misc,background           {#FFFFFF}
   misc,boundarycolor        black
   misc,boundarywidth        1
   misc,datascale            1.4e+06
   misc,defaultwindowheight  480
   misc,defaultwindowwidth   640
   misc,drawboundary         1
   misc,height               331
   misc,margin               10
   misc,relcenterpt          {0.5005465702856002 0.4994639132960491 0.9600000000000001}
   misc,rotation             0
   misc,width                630
   misc,zoom                 4.48
   pixel,autosample          1
   pixel,colorcount          256
   pixel,colormap            Blue-White-Red
   pixel,colorphase          0
   pixel,colorreverse        0
   pixel,opaque              1
   pixel,quantity            x
   pixel,size                1
   pixel,status              1
   pixel,subsample           0
   viewaxis                  +z
   viewaxis,xarrowspan       {}
   viewaxis,xpixelspan       {}
   viewaxis,yarrowspan       {}
   viewaxis,ypixelspan       {}
   viewaxis,zarrowspan       3.000e-9
   viewaxis,zpixelspan       3.000e-9
}

array set print_config {
   croptoview                1
   hpos                      center
   lmargin                   1.0
   orient                    landscape
   paper                     letter
   pheight                   3.152
   pwidth                    6.0
   tmargin                   1.0
   units                     in
   vpos                      center
}
